nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    padding-block: 0.8rem;
    box-shadow: 0 1px 4px -1px gray;
}

nav input {
    width: 60%;
    border-radius: 5px;
    border: 1px solid gainsboro;
    padding: 0.5rem;
}

.main-container {
    width: 100%;
    padding-inline: 7%;
    padding-block: 1%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.cards {
    width: 8rem;
    height: 7rem;
}
